{% extends "admin/base.html" %}

{% block title %}{{ title }} | Ichnagu{% endblock %}

{% block extrastyle %}
    <style>
        body.login{
            background-color: #333 !important;
        }

        #header {
            background-color: #222222;
            color: white;

        }
        #content-main caption{
            background-color: #53b356;
        }

        #content-related{
        	background-color: white;
        }

        #branding h1 a:visited{
            color: #53b356;
        }

        div.breadcrumbs,
        .submit-row input[type=submit],
         .module h2,
          .module caption,
           .inline-group h2{
            background-color: #53b356;
        }

        .object-tools a:hover{
            background-color: #53b356;
        }


    </style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Ichangu</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}