{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
	
	<link rel="stylesheet" href="{% static 'my_app/css/committee.css' %}">
	
{% endblock %}

{% block title %}Committee{% endblock %}


{% block content %}
<div class="main">
	<div class="heading"><h2>Ichangu Karate-Do Committee Members</h2></div>
	<hr id="committee-hr"/>
	<div class="committee-container">

		<div class="founder">
			<div class="card">
				<div class="card-img">
					<img src="{{ president.image.url }}" alt="">
				</div>
			<div class="info">
			 	<h3 class="name">{{ president.name }}</h3>
			 	<p class="position">{{ president.position }}</p>
			</div>
		</div>

		</div>
		{% for member in members%}
		<div class="card">
			<div class="card-img">
				<img src="{{ member.image.url }}" alt="">
			</div>
			<div class="info">
			 	<h3 class="name">{{ member.name }}</h3>
			 	<p class="position">{{member.position}}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}