{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
	
	<link rel="stylesheet" href="{% static 'my_app/css/events.css' %}">
	
{% endblock %}

{% block title %}Events{% endblock %}


{% block content %}
	<div class="main">
		<div class="timeline">
			<div class="timeline-body">
				{% for event in events %}
					<a href="{% url 'events-detail' event.slug %}">
						<div class="timeline-item">
							<p class="time">{{ event.date }}</p>
							<div class="content">
								<h2 class="title">{{ event.title }}</h2>
								<div class="summary">
									<img src="{{ event.image.url }}" alt="">
									<p>{{ event.description }}</p>
								</div>					
							</div>
						</div>
					</a>
				{% endfor %}

				<!-- <div class="timeline-item">
					<p class="time">January 12th, 2011</p>
					<div class="content">
						<h2 class="title">Title goes here </h2>
						<div class="summary">
							<img src="{% static 'my_app/images/ichangu.JPG' %}" alt="">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est labo.
							</p>
						</div>	
					</div>
				</div>

				<div class="timeline-item">
					<p class="time">January 12th, 2011</p>
					<div class="content">
						<h2 class="title">Title goes here </h2>
						<div class="summary">
							<img src="{% static 'my_app/images/ichangu.JPG' %}" alt="">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est labo.
							</p>
						</div>					
					</div>
				</div>

				<div class="timeline-item">
					<p class="time">January 12th, 2011</p>
					<div class="content">
						<h2 class="title">Title goes here </h2>
						<div class="summary">
							<img src="{% static 'my_app/images/ichangu.JPG' %}" alt="">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est labo.
							</p>
						</div>						
					</div>
				</div>

				<div class="timeline-item">
					<p class="time">January 12th, 2011</p>
					<div class="content">
						<h2 class="title">Title goes here </h2>
						<div class="summary">
							<img src="{% static 'my_app/images/ichangu.JPG' %}" alt="">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est labo.
							</p>
						</div>						
					</div>
				</div> -->
			</div>
		</div>
	</div>
{% endblock%}