{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
	
	<link rel="stylesheet" href="{% static 'my_app/css/events.css' %}">
	
{% endblock %}

{% block title %}Events{% endblock %}


{% block content %}
	<div class="main">
		<div class="timeline">
			<div class="timeline-body">
				{% for event in events %}
					<a href="{% url 'events-detail' event.slug %}">
						<div class="timeline-item">
							<p class="time">{{ event.date }}</p>
							<div class="content">
								<h2 class="title">{{ event.title }}</h2>
								<div class="summary">
									<img src="{{ event.image.url }}" alt="{{ event.title }}">
									<p>{{ event.description|slice:":500"}}...</p>
								</div>					
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock%}