{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
	
	<link rel="stylesheet" href="{% static 'my_app/css/gallery.css' %}">
	
{% endblock %}

{% block title %}Gallery{% endblock %}

{% block content %}	
<div class="gallery">
	<div class="preview-container" id="prev-cont">
		<i class="fas fa-arrow-left" id="prev"></i>
		<i class="fas fa-arrow-right" id="next"></i>
		<div class="preview">
			<img src="{% static 'my_app/images/player.jpg' %}"  id="firstImage">
			<img src="{% static 'my_app/images/ichangu.JPG' %}">
			<img src="{% static 'my_app/images/player.jpg' %}">
			<img src="{% static 'my_app/images/ichangu.JPG' %}">
			<img src="{% static 'my_app/images/player.jpg' %}">
			<img src="{% static 'my_app/images/ichangu.JPG' %} " id="firstClone">

		</div>
	</div>
	<div class="gallery-nav">
		<ul>
			<li class="active image-list" id="one"><a href="#one-one">Medalist Players/Team</a></li>
			<li class="image-list" id="two"><a href="#two-two">Black Belt Players</a></li>
			<li class="image-list" id="three"><a href="#three-three">All Players</a></li>
		</ul>	
	</div>
	<div class="image-container">
		<div class="pics" id="one-one">
			<div class="card">
			  <img src="{% static 'my_app/images/player.jpg' %}">
			  <div class="container">
			    <h4><b>Notorious</b></h4> 
			    <p>southpaw</p> 
			  </div>
			</div>

			<div class="card">
			  <img src="{% static 'my_app/images/player.jpg' %}">
			  <div class="container">
			    <h4><b>Notorious</b></h4> 
			    <p>southpaw</p> 
			  </div>
			</div>
			
			<div class="card">
			  <img src="{% static 'my_app/images/player.jpg' %}">
			  <div class="container">
			    <h4><b>Notorious</b></h4> 
			    <p>southpaw</p> 
			  </div>
			</div>
			
			<div class="card">
			  <img src="{% static 'my_app/images/player.jpg' %}">
			  <div class="container">
			    <h4><b>Notorious</b></h4> 
			    <p>southpaw</p> 
			  </div>
			</div>
			
			<div class="card">
			  <img src="{% static 'my_app/images/player.jpg' %}">
			  <div class="container">
			    <h4><b>Notorious</b></h4> 
			    <p>southpaw</p> 
			  </div>
			</div>
		</div>
		<div class="pics" id="two-two">
			<div class="card">
			  <img src="{% static 'my_app/images/player.jpg' %}">
			  <div class="container">
			    <h4><b>Notorious 2</b></h4> 
			    <p>southpaw2222</p> 
			  </div>
			</div>

			<div class="card">
			  <img src="{% static 'my_app/images/player.jpg' %}">
			  <div class="container">
			    <h4><b>Notorious</b></h4> 
			    <p>southpaw</p> 
			  </div>
			</div>
			
			<div class="card">
			  <img src="{% static 'my_app/images/player.jpg' %}">
			  <div class="container">
			    <h4><b>Notorious</b></h4> 
			    <p>southpaw</p> 
			  </div>
			</div>
			
			<div class="card">
			  <img src="{% static 'my_app/images/player.jpg' %}">
			  <div class="container">
			    <h4><b>Notorious</b></h4> 
			    <p>southpaw</p> 
			  </div>
			</div>
			
			<div class="card">
			  <img src="{% static 'my_app/images/player.jpg' %}">
			  <div class="container">
			    <h4><b>Notorious</b></h4> 
			    <p>southpaw</p> 
			  </div>
			</div>
		</div>

		<div class="all" id="three-three">
			<div class="all-images">
				<img src="{% static 'my_app/images/all/player-1.jpg' %}" alt="">
			</div>

			<div class="all-images">
				<img src="{% static 'my_app/images/all/player-2.jpg' %}" alt="">
			</div>
			<div class="all-images">
				<img src="{% static 'my_app/images/all/player-4.jpg' %}" alt="">
			</div>
			<div class="all-images">
				<img src="{% static 'my_app/images/all/player-5.jpg' %}" alt="">
			</div>
			<div class="all-images">
				<img src="{% static 'my_app/images/all/player-6.jpg' %}" alt="">
			</div>
			<div class="all-images">
				<img src="{% static 'my_app/images/all/player-2.jpg' %}" alt="">
			</div>
			<div class="all-images">
				<img src="{% static 'my_app/images/all/player-8.jpg' %}" alt="">
			</div>
			<div class="all-images">
				<img src="{% static 'my_app/images/all/player-5.jpg' %}" alt="">
			</div>
			<div class="all-images">
				<img src="{% static 'my_app/images/all/player-8.jpg' %}" alt="">
			</div>
			<div class="all-images">
				<img src="{% static 'my_app/images/all/player-1.jpg' %}" alt="">
			</div>

			<div class="all-images">
				<img src="{% static 'my_app/images/all/player-2.jpg' %}" alt="">
			</div>
			<div class="all-images">
				<img src="{% static 'my_app/images/all/player-4.jpg' %}" alt="">
			</div>
			<div class="all-images">
				<img src="{% static 'my_app/images/all/player-5.jpg' %}" alt="">
			</div>
			<div class="all-images">
				<img src="{% static 'my_app/images/all/player-6.jpg' %}" alt="">
			</div>
			<div class="all-images">
				<img src="{% static 'my_app/images/all/player-2.jpg' %}" alt="">
			</div>
			<div class="all-images">
				<img src="{% static 'my_app/images/all/player-8.jpg' %}" alt="">
			</div>
			<div class="all-images">
				<img src="{% static 'my_app/images/all/player-5.jpg' %}" alt="">
			</div>
			<div class="all-images">
				<img src="{% static 'my_app/images/all/player-8.jpg' %}" alt="">
			</div>
		</div>
	</div>
</div>
	{% block script %}
		<script src="{% static 'my_app/js/lightbox.js' %}"></script>
		<script>	
			document.querySelectorAll(".gallery-nav li").forEach(item =>{
				item.addEventListener('click', ()=>{
			document.getElementById('prev-cont').style.height = 0
				
			})
		})
		
		</script>
	{% endblock %}
{% endblock %}