{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}


{% block content %}

	<div class="preloader">
		<div class="circle"></div>
		<div class="circle"></div>
		<div class="circle"></div>
	</div>

	<div class="ddd-container">    
	    <div class="ddd" id="ddd">
	    	<div class="d1">
	    		<img src="{{home.logo.url}}" alt="{{home.title}}">
	    		<div class="d1-text">
	    			<p>Sports for Health, Sports for Nation</p>
	    			<h2>Affiliated to Nepal Sports Council</h2>
	    		</div>
	    		<img src="{% static 'my_app/images/nepal.png' %}" alt="">
	        </div>

	        <div class="d2">
	        	<h2 class="d">Discipline,</h2>
	        	<h2 class="d">Development,</h2>
	        	<h2 class="d">and Dynamism</h2>
	        </div>
	    </div>
	</div>    

	<main id='about-container'>
		<div class="about" id='about'>
			<div class="abt1">
				<h2>About</h2>
				<hr>
				<div id="description">
					<p class="des-p"> {{ home.about }}</p>
				</div>
			</div>
			<div class="abt2">
				<img src='{{ home.about_image.url }}' alt="">
			</div>
		</div>
	</main>

{% endblock %}

{% block script %}
	<script>	
		let preloader = document.querySelector('.preloader')

		function init(){
			setTimeout(()=>{
				preloader.parentElement.removeChild(preloader)
			}, 3000)
		}

		if(!sessionStorage.getItem('doNotShow')){
			sessionStorage.setItem('doNotShow', true)
			init()
		} else{
			preloader.parentElement.removeChild(preloader)
			const d2 = document.querySelectorAll('.d2 h2')
			for(let i = 0; i<d2.length; i++){
				d2[i].style.animationDelay = "0s";
			}
		}
		document.getElementById('ddd').style.backgroundImage = 'url("{{home.bg_image.url}}")'
		gsap.from('.abt1', {scrollTrigger:{trigger: '.abt1',toggleActions: "restart pause resume"},
			 x:-500,
			 duration: 1.5
			})

		gsap.from('.abt2', {scrollTrigger:{trigger: '.abt2', toggleActions: "restart pause resume"},
			 x:500,
			 duration: 1.5
			})
	</script>
{% endblock %}