{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
	
	<link rel="stylesheet" href="{% static 'my_app/css/players.css' %}">
	
{% endblock %}

{% block title %}Players:{% endblock %}

{% block content %}	
<div class="gallery">
	<div class="preview-container" id="prev-cont">
		<i class="fas fa-arrow-left" id="prev"></i>
		<i class="fas fa-arrow-right" id="next"></i>
		<div class="preview">
			{% for img in images %}
				<img src="{{img.image.url}}" alt="{{base.title}}">
			{% endfor %}

		</div>
	</div>
	<div class="gallery-nav">
		<ul>
			<li class="active image-list" id="one"><a href="#one-one">Medalist Players/Team</a></li>
			<li class="image-list" id="two"><a href="#two-two">Black Belt Players</a></li>
			<li class="image-list" id="three"><a href="#three-three">All Players</a></li>
		</ul>	
	</div>
	<div class="image-container">

		<div class="pics" id="one-one">
			{% for medalist in medalists %}
				<div class="medal-card">
				  <div class="medal-img">
				  	<img src="{{medalist.image.url}}" alt="{{medalist.name}}">
				  </div>
				  <div class="container">
				    <h4><b>{{medalist.name}} {% if medalist.date %}({{medalist.date.year}}) {% endif %} </b></h4> 
				    <p>{{medalist.description | safe}}</p> 
				  </div>
				</div>
			{% endfor %}

		</div>
		
		<div class="pics" id="two-two">
			{% for b in black_belts %}
				<div class="card">
				  <div class="card-image">
				  	<img src="{{b.image.url}}" alt="{{base.title}}">
				  </div>	
				  <div class="container">
				    <h4><b>{{b.name}} ({{b.date.year}})</b></h4> 
				    <p>{{b.description | safe}}</p> 
				  </div>
				</div>
			{% endfor %}

		</div>

		<div class="all" id="three-three">
			{% for player in players %}
				<div class="all-images">
					<img src="{{player.image.url}}" alt="{{base.title}}">
				</div>
			{% endfor %}
		
		</div>
	</div>
</div>
	{% block script %}
		<script src="{% static 'my_app/js/lightbox.js' %}"></script>
		<script>	
			document.querySelectorAll(".gallery-nav li").forEach(item =>{
				item.addEventListener('click', ()=>{
			document.getElementById('prev-cont').style.height = 0
				
			})
		})
		
		</script>
	{% endblock %}
{% endblock %}