{% extends 'base.html' %}
<!-- {% load embed_video_tags %} -->

{% load static %}
{% load embed_video_tags %}

{% block extra_css %}
	
	<link rel="stylesheet" href="{% static 'my_app/css/videos.css' %}">
	
{% endblock %}

{% block title %}Videos{% endblock %}

{% block content %}	
	
	<div class="main">
		<div class="video-container">
			{% for vid in videos %}
				<div class="video">
					<div class="media">
						{% video vid.link as my_video %}
							{% video my_video 'medium' %}
						{% endvideo %}

					</div>
					<div class="description">
						<p>
							{{ vid.description }}
						</p>
					</div>
				</div>

			{% endfor %}
		</div>
	</div>

{% endblock %}

{% block script %}
	<script>
		let ifr = document.getElementsByTagName('iframe')
	    for(let i=0; i<ifr.length; i++){
	      ifr[i].src+='&rel=0'

	    } 
	 </script>   
{% endblock script %}
