body{
	 background-image:none;
	 height: auto;
}

.main{
	margin-top: 100px;
	padding: 14px 30px;
	color: black;

}

.heading {
	text-align: center;
	padding: 5px;
	color: lightgray;
	/*margin-top: 15px;*/
}

#committee-hr{
	width: 70%;
	margin: auto;
	height:1px;
	border:none;
	color:#333;
	background-color:#333;
}
.committee-container{
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.founder{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	border-bottom: 1px solid #333;
	padding-bottom: 8px;
}

.founder .card{
	margin: auto;

}

.card{
	width: 300px;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
	transition: 0.3s;
	margin: 30px 0;
}

.card:hover {
	transform: scale(1.04);
	cursor: pointer;
}
.card img, .info{
	max-width: 100%; 
}

.info{
	text-align: center;
	margin-top: -30px;
	margin-bottom: 10px;
}

.card img{
	transform: translateY(-40px);
	border-radius: 5px;
	box-shadow: 3px 3px 3px 1px rgba(0,0,0, .3);
}

@media screen and (max-width: 950px){
	#committee-hr{
		width: 75%;
	}
	.heading h1{
		font-size: 25px;
	}
}

@media screen and (max-width: 768px){
	.main{
		padding: 15px;
	}
	.committee-container .card{
		width: 250px;
	}
	#committee-hr{
		width: 90%;
	}
}

@media screen and (max-width: 573px){
	.committee-container .card{
		width: 300px;
		/*padding-bottom: 0;*/
	}

	.info{
		margin-top: -15px;
	}

	#committee-hr{
		width: 100%;
	}

	.founder{
		border-bottom: none;
		padding-bottom: 0;
	}
}

@media screen and (max-width: 323px){
	.heading h1{
		padding: 0;
		font-size: 25px;
	}

}