body{
	 background-image:none;
	 height: auto;
}

/*footer{
	position: absolute;
}
*/

.main{
	/*width: 75%;*/
	margin: auto;
	margin-top:100px;
	min-height: 90vh;
}

/*.main hr{
	width: 85%;
	margin: auto;
}*/
.contact{
	margin-top: 11%;
}

.contact h1{
	text-align: center;
}

.info{
	margin-top: 2%;
	display: flex;
	justify-content: space-evenly;
	/*margin: auto;*/
}

.form-div{
	width: 45%;
	animation: info 1s linear;
}

form{
	padding: 10px;
	display: flex;
	flex-direction: column;

}

.inputs{
	margin: 8px 0;
	padding: 12px 20px;
	border: 1px solid #ccc;
  	border-radius: 4px;
} 

textarea{
	/*resize:none;*/
}

.inputs:focus {
    outline: none !important;
    border:1px solid #53b356;
}

#btn{
	background-color: #212121; 
	cursor: pointer;
	color: white;
	transition: 0.5s ease-out;
}

#btn:hover{
	opacity: 0.7;
}

.address{
	width: 45%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	word-spacing: 5px;
	letter-spacing: 3px;
	border: 1px solid #333;
	animation: address 1s linear;
	margin: 18px 0;
}

.div1{
	display: flex;
	flex-direction: column;
}

.div1 h3, p{
	margin-bottom: 5%;
}

.social-app{
	display: flex;
	width: 65%;
	justify-content: space-evenly;
	border-top: 1px solid #333;
	padding-top: 5px;
}

#fb{
	color: #4267B2;
}

#insta{
	color:  #fb3958
}

#youtube{
	color: #FF0000;
}

.pm{
	margin-top: 10px; 
	text-align:center;
}

.map{
	margin: auto;
	width: 90%;
	text-align: center;
	height: 400px;
	border: 10px solid lightgray;
	margin-top: 40px;
	border-radius: 5px;
	animation: map 2s linear ;
}


@keyframes map {
	from{
		transform: scale(0);
		
	}

	/*99%{
		opacity: 0;
	}*/
/*
	100%{
		opacity: 1;
	}*/
}


@keyframes info {
	from{
		transform: translateX(-200px);
	}
}

@keyframes address {
	from{
		transform: translateX(200px);
	}
}




@media screen and (min-width: 1400px){
	.inputs {
	    margin: 20px 0;
	    padding: 30px 20px;
	}

	.map{
		width: 85%;
		height: 700px;
	}
}


@media screen and (max-width: 1024px){
	.main{
		min-height: 85vh;
		width: 85%;
	}
	footer{
		position: relative;
	}

	.info{
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	.form-div, .address{
		animation: none;
	}

	.form-div, .address{
		width: 80%;
	}
	.address{
		margin-bottom: 5%;
	}

	.div1 h3, p{
		margin-bottom: 8%;
	}
	.map{
		margin-top: 15px;
	}

}




@media screen and (max-width: 768px){
	.main{
		width: 90%;
	}

	textarea{
		height: 100px
	}

	.div1 h3, p {
    	margin-bottom: 5%;
	}
	
}

/*@media screen and (max-height: 755px){


}*/




@media screen and (max-width: 540px){
	/*.main{
		width: 
	}*/
	.form-div, .address{
		width: 100%;

	}
	.contact, .address{
		font-size: 14px;
	}

	.inputs{
		margin: 5px 0;
		padding: 7px 20px;
		border: 1px solid #ccc;
	  	border-radius: 4px;
	} 

	.map{
		width: 100%;
		border: 5px solid;
		height: 350px;
		animation: none;
	}

}



/*@media screen and (min-height: 668px){
	footer{
		position: absolute;

	}
	
}*/

@media screen and (min-width: 1024px) and (min-height: 900px){
	
	.main{
		margin-top: 10%;
	}
	
}


