body{
	 background-image:none;
	 height: auto;
}


/* ==============
 Gallery Page
=================
 */

img:hover {
	transform: scale(1.13);
}


ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  margin-top: 7px;
}
ol li {
  counter-increment: my-awesome-counter;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: green;
  font-weight: bold;
}


.gallery{
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.preview-container{
	max-width: 800px;
	height: 450px;
	margin: auto;
	overflow: hidden;
	margin-bottom: 5px;
	position: relative;
	display: flex;
	justify-content: center;
	transition: height 600ms ease-out;

}

#prev{
	position: absolute;
	top: 50%;
	z-index: 10;
	left: 3%;
	font-size: 30px;
	color: white;
	cursor: pointer;
}

#next{
	position: absolute;
	top: 50%;
	z-index: 10;
	right: 3%;
	font-size: 30px;
	color: white;
	cursor: pointer;
}

.preview{
	max-width: 100%;
	display: flex;
	margin: auto;
}

.preview img{
	max-width: 100%;
	display: none;
	animation: fade .8s ease-in-out;
	cursor: pointer;
}

.preview img:hover, #lightbox img{
	transform: none;
}

@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.preview img:first-child{
	display: block;
}

.gallery-nav{
	position: sticky;
	top: 90px;
	z-index: 1;
}
.gallery-nav ul{
	display: flex;
	width: 100%;
    background-color: grey;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px;
}

.gallery-nav li{
	background-color: #222222;
	height: 40px;
	display: flex;
	justify-content: center;
	cursor: pointer;
	border-radius: 3px;
	width: 25%;
    text-align: center;
    transition: all .5s;
}

.gallery-nav a{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.gallery-nav li:hover a{
	color: black
}

.gallery-nav li:hover{
	background-color: #53b356;
	color: black;
}

.gallery-nav li.active{
	color: black;
	background-color: #53b356;
}
.gallery-nav li.active a{
	color: black;
}

.pics
{
	width: 100%;
	display: none;
	justify-content: space-around;
	flex-wrap: wrap;
	min-height: 75vh;
}

#one-one{
	display: flex;
}

#one-one .medal-card{	
    width: 45%;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 7px;
    margin: 10px;
    height: max-content;
}

.medal-img{
	width: 100%;
	max-height: 350px;
    border-radius: 5px;
	overflow: hidden;
}
.medal-card img{
    max-width: 100%;
    /*min-height: 100%;*/
    cursor: pointer;
	transition: 0.3s;
}

.medal-card .container{
	height: 300px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    color: lightgray;
    overflow: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
}

.medal-card .container h4{
	text-align: center;
}
.medal-card .container p{
	margin-right: 5px;
	text-align: justify;
	margin-left: 10px;
}

/* width */
.medal-card .container::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.medal-card .container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.medal-card .container::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
.medal-card .container::-webkit-scrollbar-thumb:hover {
  background: darkgrey; 
}

.card{
	width: 280px;
	height: 300px;
	padding: 7px;
	margin: 10px;
	background-color: #222222;
	border-radius: 5px;
	overflow: hidden;
	border-radius: 7px;
	text-align: center;
}

.card .container{
	margin-top: 10px;
}

.container h4{
	font-size: 20px;
}

.card .card-image{
	height:220px;
	overflow: hidden;
	border-radius: 5px;

}
.card img{
	max-width: 100%;
	min-height: 70%;
	cursor: pointer;
	transition: 0.4s;
}



.all{
	display: none;
	flex-wrap: wrap;
	min-height: 75vh;
	justify-content: center;
}

.all-images{
	width: 320px;
	height: 200px;
	overflow: hidden;
	cursor: pointer;
}

.all-images img{
	max-width: 100%; 
	min-height: 100%;
	transition: 0.4s;

}

#lightbox{
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
	display: none;
}

#lightbox.active{
	display: flex;
	justify-content: center;
	align-items: center;
}

#lightbox img{
	padding: 4px;
	max-width: 80%;
	max-height: 80%;
	background-color: black;
	border: 2px solid white;
}


@media screen and (min-width: 1400px)
{
	.preview-container{
		max-width: 900px;
		height: 500px;
	}

	.gallery-nav{
		top: 120px;
	}
	.gallery-nav li{
		padding: 35px;
	}

	.medal-img{
		max-height: 500px; 
	}

	.card{
		width: 500px;
		height: 525px;
	}
	.card .card-image{
		
		height: 425px;
	}

	.all-images{
		width: 450px;
		height: 300px;
	}

	ol li{
		font-size: 30px;
	}

}

@media screen and (max-width: 1022px){
	.all-images{
		width: 420px;
		height: 255px;
	}
}

/*
@media screen and (min-height: 970px){
	#one-one .medal-card{
		height: 700px;
	}
}*/

@media screen and (max-width: 900px){
	.all-images{
		width: 600px;
		height: 370px;
	}

	#one-one .medal-card{
		width: 80%;
	}
}


@media screen and (max-width: 768px){
	.gallery-nav{
		z-index: auto;
	}

	#one-one .medal-card{
		width: 90%;
	}

	.all-images{
		width: 500px;
		height: 270px;
	}
	img:hover{
		transform: none;
	}
}


@media screen and (max-width: 600px){
	.gallery-nav ul{
		font-size: 15px;
	}
	.gallery{
		padding: 10px;
	}

	#one-one .medal-card{
		width: 100%;
	}


@media screen and (max-width: 500px){
	.gallery-nav{
		margin-top: -25px;  /* margin with preview image*/
	}
	.gallery-nav ul{
		flex-direction: column;
		font-size: 18px;
		margin-bottom: 10px;
	}
	.gallery-nav li{
		width: 90%;
		margin-top: 5px;
	}


	.all-images{
		width: 320px;
		height: 220px;
	}

}

@media screen and (max-width: 355px){
	.gallery{
		padding: 12;
	}
	.gallery-nav{
		margin-top: -64px;  /* margin with preview image*/
	}
	.image-container{
		margin-top: 45px;
	}
}

@media screen and (max-height: 555px){
	.gallery-nav{
		top: 70px;
	}	

}


