body{
	 background-image:none;
	 height: auto;
}


/* ==============
 Gallery Page
=================
 */


.gallery{
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.preview-container{
	max-width: 800px;
	height: 350px;
	margin: auto;
	overflow: hidden;
	margin-bottom: 5px;
	/*border: 1px solid red;*/
	position: relative;
	display: flex;
	justify-content: center;
	transition: height 600ms ease-out;

	/*height: */

}

#prev{
	position: absolute;
	top: 50%;
	z-index: 10;
	left: 3%;
	font-size: 30px;
	color: white;
	cursor: pointer;
}

#next{
	position: absolute;
	top: 50%;
	z-index: 10;
	right: 3%;
	font-size: 30px;
	color: white;
	cursor: pointer;
}

.preview{
	max-width: 100%;
	display: flex;
	margin: auto;
	/*overflow: hidden;*/
}

.preview img{
	max-width: 100%;
	display: none;
	animation: fade 1s ease-in-out;
	/*height: 100%;*/
}

@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

#firstImage{
	display: block;
}
.gallery-nav{
	position: sticky;
	top: 100px;
	z-index: 1;
}
.gallery-nav ul{
	display: flex;
	width: 100%;
    background-color: grey;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    /*margin-top: 15px;*/
    margin-bottom: 30px;
    padding: 10px;
}

.gallery-nav li{
	background-color: #222222;
	height: 40px;
	display: flex;
	justify-content: center;
	cursor: pointer;
	border-radius: 3px;
	width: 25%;
    text-align: center;
    transition: all .5s;
    /*transition: color 1s;*/
}

.gallery-nav a{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.gallery-nav li:hover a{
	color: black
}

.gallery-nav li:hover{
	background-color: #53b356;
	color: black;
}

.gallery-nav li.active{
	color: black;
	background-color: #53b356;
}
.gallery-nav li.active a{
	color: black;
}

.pics
{
	width: 100%;
	display: none;
	justify-content: space-around;
	flex-wrap: wrap;
	min-height: 75vh;
	text-align: center;
}

#one-one{
	display: flex;
}

#one-one .medal-card{	
    width: 900px;
    height: 300px;
    background-color: #222222;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 7px;
    margin: 10px;
}

.medal-card img{
    max-width: 45%;
    min-height: 95%;
    border-radius: 5px;
    /*flex: 1;*/
}

.medal-card .container{
	height: 95%;
	width: 55%;
    margin-left: 10px;
    /*flex: 2;*/
    overflow: scroll;
    overflow-x: hidden;
}


/* width */
.medal-card .container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.medal-card .container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.medal-card .container::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
.medal-card .container::-webkit-scrollbar-thumb:hover {
  background: darkgrey; 
}

.card{
	width: 280px;
	height: 400px;
	padding: 7px;
	margin: 10px;
	background-color: #222222;
	border-radius: 5px;
}

.card .container{
	margin-top: 10px;
}

.container h4{
	font-size: 20px;
}

.card img{
	max-width: 100%;
	min-height: 70%;
	cursor: pointer;
	border-radius: 3px;
	transition: 0.4s;
}

.card img:hover {
	transform: scale(1.13);
}

.all{
	display: none;
	flex-wrap: wrap;
	min-height: 75vh;
	justify-content: center;
}

.all-images{
	width: 320px;
	height: 200px;
	overflow: hidden;
	cursor: pointer;
}

.all-images img{
	max-width: 100%; 
	min-height: 100%;
}

#lightbox{
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
	display: none;
}

#lightbox.active{
	display: flex;
	justify-content: center;
	align-items: center;
}

#lightbox img{
	padding: 4px;
	max-width: 80%;
	max-height: 80%;
	background-color: black;
	border: 2px solid white;
}

@media screen and (max-width: 1022px){
	.all-images{
		width: 420px;
		height: 255px;
	}
}

@media screen and (max-width: 900px){
	.all-images{
		width: 600px;
		height: 370px;
	}
}
@media screen and (max-width: 870px){
	.card{
		width: 300px;
		height: 400px;
	}
}

@media screen and (max-width: 768px){
	.gallery-nav{
		z-index: auto;
	}

	#one-one .medal-card{
		height: 250px;
	}
	.card:hover{
		transform: none;
	}
	.all-images{
		width: 500px;
		height: 270px;
	}
}


@media screen and (max-width: 600px){
	.gallery-nav ul{
		font-size: 15px;
	}
	.gallery{
		padding: 18px;
	}

	#one-one .medal-card{
		flex-direction: column;
	    height: 400px;
	    width: 500px;

	}

	.medal-card img{
		min-height: auto;
		max-width: 95%;
	    max-height: 65%;
	}

	.medal-card .container{
		/*max-height: 35%;*/
	    width: 95%;
	    margin-top: 15px;
	    margin-left: 0;
	    margin-bottom: 5px;
	}
}


@media screen and (max-width: 500px){
	.gallery-nav{
		margin-top: -25px;  /* margin with preview image*/
	}
	.gallery-nav ul{
		flex-direction: column;
		font-size: 18px;
		margin-bottom: 10px;
	}
	.gallery-nav li{
		width: 90%;
		margin-top: 5px;
	}

	/*#one-one .medal-card{
		height: 200px;
	}*/
	.all-images{
		width: 320px;
		height: 220px;
	}

}

@media screen and (max-width: 355px){
	.gallery{
		padding: 12;
	}
	.gallery-nav{
		margin-top: -64px;  /* margin with preview image*/
	}
	.image-container{
		margin-top: 45px;
	}
}