*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}


body{
	font-size: 18px;
	overflow-x: hidden;
	color: #fff;
	font-family: 'Roboto', sans-serif;
    height: 100vh;
	background-color:#0d0d0d;
}


h1,h2, h3, h4{
	color: #53b356;
}
a{
	text-decoration: none;
	color: white;
}

p{
	margin-top: 5px;
	color: lightgray;
}

li{
	list-style: none;

}


.preloader{
	position: fixed;
	z-index: 999999;
	background-color: #333;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.circle {
	display: inline-block;
	background-color: #53b356;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	transform: translate3d(0);
	animation: bounce 0.6s infinite alternate;
	margin: 0 5px;
}


.circle:nth-child(2){
	background-color: lightgrey;
	animation-delay: 0.2s;
}

.circle:nth-child(3){
	animation-delay: 0.4s;
}

@keyframes rotate{
	to{
		transform: rotate(360deg);
	}
}

@keyframes bounce{
	to{
		width: 16px;
		height: 16px;
		transform: translate3d(0, -16px, 0);
	}
}



header {
	position: fixed;
	top: 0;
	display: flex;
	background-color:#0d0d0d;
	z-index:99;
	width: 100%;
	height: 90px;
	align-items: center;
	animation: heads 2.5s ease forwards;
	border: 1px solid red;

}

.logo-container, .main-nav{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	
}

.logo-container {
	flex: 1;
	padding-left: 10px;
}

.logo-container h1{
	font-size: 25px;
	text-transform: uppercase;
}

.logo{
	height: 80px;
	border-radius: 50%;
}
.logo-text{
	margin-left: 10px;
}

nav{
	flex: 2;
	
}

.main-nav{
	justify-content: space-around;
}

.main-nav li{
	position: relative;
}

.main-nav li{
	padding: 5px;
}

.main-nav li:hover:before{
	width: 100%;
}
.main-nav li:before{
	content: '';
	height: 3px;
	width: 0%;
	background-color: #53b356;
	position: absolute;
	bottom:0;
	left: 0;
	transition: width 0.3s;
}

.main-nav li.active{
	color: white;
	background-color: #53b356;
	border-radius: 3px;
}

#dropdown{
	position: relative;
	display: inline-block;
}


.dropdown-links{
	display: none;
  	position: absolute;
  	background-color: #F3EEED;
  	min-width: 100px;
  	z-index: 1;
  	padding-top: 5px;
  	left: -1;
  	top: 100%;
}

.dropdown-links.active{
	display: block;
}

.dropdown-links a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#dropdown:hover .dropdown-links{
	display: block;
} 

.dropdown-links a:hover{
	color: red;
}

.ddd-container{
	height: 100vh;
	overflow: hidden;
}

.ddd{
	position: relative;
	width: 100%;
	display:flex;
	/*justify-content: center;*/
	height:100%;
	/*align-items: flex-end;*/
	font-style: italic;
	background-repeat: no-repeat;
    /*background-position: top 5px center;*/
	background-size: cover;
}

.ddd .d1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	align-items: center;
	width: -webkit-fit-content;
	/*justify-content: center;*/
	text-align: center;
}


.ddd .d1 img{
	height: 65px;
	margin-top: 10px;
}

.ddd .d1 p{
	color: yellow;
}

.ddd .d1 h2{
	background-color: black;
	opacity: 0.8;
	color: #53b356;
	margin: 0 7px;
	font-size: 27px;
	padding: 0 5px;
}

.ddd .d2 {
	z-index: 1;
	display: flex;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	width: -webkit-fit-content;
	bottom: 5;
	background-color: black;
	opacity: 0.6;
}

.ddd .d2 h2:nth-child(1){
	animation: grow 1s;
	animation-delay: 3.5s;

}
.ddd .d2 h2:nth-child(2){
    animation: grow 2s;
	animation-delay: 3.5s;
}

.ddd .d2 h2:nth-child(3){
    animation: grow 3s;
	animation-delay: 3.5s;
}
.ddd .d2 h2{
	color: yellow;
	margin-left: 10px;

}

main{
    padding: 20px;
    width:100%;
}


.about{
	display: flex;
	justify-content: space-between;
	margin: 7px;
	padding-left: 10px;
	padding-top: 10px;

}

hr{
	border: 1px solid #333;
	width: 100%;
}

.about .abt1{

	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;

}


.abt1 h2{
	color: #149414;
}

#description{
	padding: 1%;

}

.des-p{
	word-spacing: 1px;
	line-height: 1.3;
}

.des-p::first-letter{
	font-size: 2rem;
	font-weight: bold;
	font-family: sans-serif;
}

.about .abt2 img{
	height: 400px;
}



footer{
	background-color: #0d0d0d;
	height: 100px;
	font-size: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	position: relative;
    left: 0;
    bottom: 0;
    z-index: -1;
    margin-top: 30px;
    border-top: 1px solid #333;

}

@keyframes grow {
	0%{
		opacity: 0;
		transform: scale(0);
	}
	100%{
		opacity: 1;
		transform: scale(1);
		
	}
}



@keyframes heads {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}



@media screen and (min-width: 1400px){
	header{
		height: 120px;
	}

	.ddd{
		background-position: top 15px center;
	}

	.logo{
		height: 90px;
	}
	body{
		font-size: 30px;
	}

	h4{
		font-size: 28px !important;
	}


	h3,h2, h1{
		font-size: 35px !important;
	}

}

@media screen and (min-width: 1900px) {

	body{
		font-size: 40px;
	}

	h3, h2,h1{
		font-size: 45px !important;
	}
	p{
		font-size: 30px !important;
	}

	h4{
		font-size: 33px !important;
	}

	footer{
		height: 150px;
	}
}

@media screen and (max-width:1168px){
	.ddd{
		background-position: top 30px center;
	}
}


@media screen and (max-width:1068px){
	body{
		font-size: 15px;
	}
	.logo-container{
		flex: 2;
	}
	nav{
		flex: 3;
	}
	.logo-container h1{
		font-size: 22px;
	}

}



@media screen and (max-width:831px){
	.logo-text{
		margin-left: 5px;
	}
	.logo{
		height: 60px;
	}

	.ddd{
		background-position: top 50px center;
	}

	.about{
		flex-direction: column;
		align-items: center;

	}
	.about .abt1{
		width: 90%;
	}

	.about .abt2{
		margin-top: 5px;
		
	}
	.about .abt2 img{
		height: 300px;
	}

	.about .abt1 h2{
		font-size: 17px;
	}

}

@media screen and (max-width:768px){
	.logo-container{
		flex: 13;
	}
	.logo-container h1{
		font-size: 25px;
	}
	.burger .line{
		width: 30px;
		height: 3px;
		background: white;
		margin: 5px;
	}
	.nav{
		position: relative;
	}

	.burger{
		position: absolute;
		cursor: pointer;
		z-index: 1;
		right: 5%;
		transform: translate(-5%, -50%);
	}
	
	.main-nav li a{
		font-size: 17px;
	}
	.main-nav{
		position: fixed;
		top: 0;
		right: 0;
		background: #212121;
		height: 100vh;
		width: 100%;
		flex-direction: column;
		justify-content: space-around;
		clip-path: circle(100px at 105% -35%);
		-webkit-clip-path: circle(100px at 105% -35%);
		transition: all 1s ease-out;

	}

	.main-nav.open{
		clip-path: circle(1500px at 95% -15%);
		-webkit-clip-path: circle(1500px at 95% -15%);
	}

	.ddd .d1 h2{
		font-size: 25px;
	}
}



@media screen and (max-width: 540px){
	.logo-container h1{
		font-size: 18px;
	}

	.ddd .d1 img{
		height: 45px;
	}
	.ddd {
		font-size: 12px;
	}
	.ddd .d1 h2{
		font-size: 17px;
	}

	.ddd .d1 p{
		font-size: 13px;
	}

	.d2 h2{
		font-size: 14px;
	}
	
	.about{
		padding-left: 0;
	}
	.about .abt2 img {
    	height: 250px;
	}

	.about .abt1{
		width: 90%;
	}
	#description{
		padding: none;
	}
}



@media screen and (max-width: 358px) {
  	main{
  		padding: 0;
  	}
  	.logo-container h1{
		font-size: 15px;
	}
 
}

@media screen and (max-width: 315px) {

	.ddd h2{
  		font-size: 12px;
  	}

	footer{
		text-align: center;
	}

}


@media screen and (max-height: 555px){
	header{
		height: 70px;
	}
	.ddd{
		background-position: top 30px center;

	}
}






